.hero {
  background-image: url(../images/hero.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
