/*
   * Стили компонента Modal
   */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.leftarrow {
  position: absolute;
  left: 50px;
  top: 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('../icons/arrow_back_ios_new_black_24dp.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.leftarrow:active {
  transform: scale(1.08);
}

.rightarrow {
  position: absolute;
  right: 50px;
  top: 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('../icons/arrow_forward_ios_black_24dp.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.rightarrow:active {
  transform: scale(1.08);
}
